<%= simple_form_for(@album) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.association :artist,
      collection:    Artist.alphabetical,
      label_method:  :name,
      value_method:  :id,
      required:      true,
      include_blank: "Please choose"
    %>

    <%= f.input :title %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
