<%= simple_form_for(@review) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.grouped_collection_select :reviewable_gid,
      [Song, Album],
      :all,
      :model_name,
      :to_global_id,
      :reviewable_dropdown_option,
      include_blank: "Please choose"
    %>
    <%= f.input :title %>
    <%= f.input :content %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
