<%
  @headline = "Quotations"
  @title    = ["Style Guide", @headline]

  @page_container_class = "style-guide"
%>

<%= content_tag(:section) do %>
  <%= content_tag(:header) do %>
    <%= content_tag(:h3, "Blockquote w/ caption") %>
  <% end %>

  <%= blockquote("Be kind to my mistakes.", author: "Kate Bush") %>
<% end %>

<%= content_tag(:section) do %>
  <%= content_tag(:header) do %>
    <%= content_tag(:h3, "Blockquote w/ caption & cite") %>
  <% end %>

  <%= blockquote(author: "Pet Shop Boys", cite: "Being Boring") do %>
    <div>When I went, I left from the station</div>
    <div>With a haversack and some trepidation</div>
  <% end %>
<% end %>

<%= content_tag(:section) do %>
  <%= content_tag(:header) do %>
    <%= content_tag(:h3, "Blockquote w/ complex caption & cite") %>
  <% end %>

  <%= blockquote(author: link_to("Buffy Summers", "#"), cite: link_to("Buffy the Vampire Slayer", "#")) do %>
    Oh my god, what are you, 12?
  <% end %>
<% end %>

<%= content_tag(:section) do %>
  <%= content_tag(:header) do %>
    <%= content_tag(:h3, "Inline quote") %>
  <% end %>

  <%= content_tag(:p) do %>
    As Sarah Cracknell once sang, <%= content_tag(:q, "Plane or a boat / Get away / Gotta go.") %>
  <% end %>
<% end %>
