<%
  @headline = @title = "Settings"
%>

<%= simple_form_for(@user, url: edit_user_registration_path, html: { method: :put }) do |f| %>
  <%= f.error_notification %>

  <%= content_tag(:div, class: "form-inputs") do %>
    <%= render "admin/users/form_fields",
      f:             f,
      show_bio:      @user.can_write?,
      show_links:    @user.can_write?,
      show_password: false,
      show_role:     false
    %>

    <%= f.input :current_password, required: true, hint: true %>
  <% end %>

  <% if @user.pending_reconfirmation? %>
    <p>Currently waiting confirmation for: <%= @user.unconfirmed_email %></p>
  <% end %>

  <%= button_group submit_button(@user, "Update") %>
<% end %>
