<%
  @headline = @title = "Edit Password"
%>

<%= simple_form_for(@user, url: edit_user_registration_path, html: { method: :put }) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :password,
      required: true,
      autocomplete: "off",
      placeholder: ("#{@minimum_password_length} or more characters")
    %>

    <%= f.input :current_password,
      required: true,
      hint: "We need your current password to confirm your changes."
    %>
  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
  <% end %>

  <div class="form-actions">
    <%= f.button :submit, "Update" %>
  </div>
<% end %>
