<%
  @headline = @title = "Update Password"
%>

<%= simple_form_for(@user, url: settings_password_path, html: { method: :put }) do |f| %>
  <%= f.error_notification %>

  <%= form_inputs do %>
    <%= f.input :password, required: true, hint: true, autocomplete: "off", **js_unmaskable_attrs %>

    <%= f.input :current_password, required: true, hint: true, **js_unmaskable_attrs %>
  <% end %>

  <% if @user.pending_reconfirmation? %>
    <p>Currently waiting confirmation for: <%= @user.unconfirmed_email %></p>
  <% end %>

  <%= button_group submit_button(@user, "Update") %>
<% end %>
