<%
  @headline = @title = "Update Password"
%>

<%= simple_form_for(@user, url: settings_password_path, html: { method: :put }) do |f| %>
  <%= f.error_notification %>

  <%= content_tag(:div, class: "form-inputs") do %>
    <%= f.input :password, hint: true, required: true, autocomplete: "off" %>

    <%= f.input :current_password, required: true, hint: true %>
  <% end %>

  <% if @user.pending_reconfirmation? %>
    <p>Currently waiting confirmation for: <%= @user.unconfirmed_email %></p>
  <% end %>

  <%= content_tag(:div, class: "button-group") do %>
    <%= f.button :submit, "Update" %>
  <% end %>
<% end %>
