<%
  @headline = @title = "Settings"
%>

<%= simple_form_for(@user, url: edit_user_registration_path, html: { method: :put }) do |f| %>
  <%= f.error_notification %>

  <%= content_tag(:div, class: "form_inputs") do %>
    <%= f.input :first_name,
      required: true
    %>

    <%= f.input :last_name,
      required: true
    %>

    <%= f.input :email,
      required: true,
      placeholder: "name@domain.com"
    %>

    <%= f.input :current_password,
      required: true,
      hint: "we need your current password to confirm your changes"
    %>
  <% end %>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
  <% end %>

  <%= content_tag(:div, class: "button_group") do %>
    <%= f.button :submit, "Update" %>
  <% end %>
<% end %>
