<%
  @headline = @title = "Register"
%>

<%= simple_form_for(@user, url: settings_path) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :first_name,
      required: true
    %>

    <%= f.input :last_name,
      required: true
    %>

    <%= f.input :email,
      required: true,
      placeholder: "name@domain.com"
    %>

    <%= f.input :password,
      required: true,
      placeholder: ("#{@minimum_password_length} or more characters")
    %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, "Sign up" %>
  </div>
<% end %>

<%= render "users/shared/links" %>
